<!doctype html>
<title>Install WineHelper</title>
<br>
<br>
<br>
<center>
    <h1>Cliquez sur le bouton pour installer le bot WineHelper</h1>
    <a href="https://slack.com/oauth/authorize?scope={{ scope }}&client_id={{ client_id }}">
        <img alt="Ajouter à Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
    </a>
</center>
